recursive-include pyjac *.py
recursive-include pyjac/core *.py
recursive-include pyjac/functional_tester *.py *.yaml
recursive-include pyjac/performance_tester *.c *.cu *.in *.h *.py
recursive-include pyjac/pywrap *.py *.pyx *.c *.h *.cu *.cuh *.in
recursive-include pyjac/libgen *.py
